@model IEnumerable<ReelHub.Website.Models.Database.Actor>

@{
    ViewData["Title"] = "Actors";
}

<div class="row m-0 mt-5 mb-1">
    <div class="col-auto d-flex align-items-center">
        <h6 class="display-6">@ViewData["Title"]</h6>
    </div>

    <div class="col"></div>

    <div class="col-auto d-flex align-items-center">
        <a class="btn btn-sm btn-secondary px-3" asp-action="Create">Create</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-1">
                    <img class="actorImg rounded-circle" src="@item.ImageUrl" />
                </td>
                <td class="col-3">
                    <div class="display-6 fs-5 text-black">
                        <b>@Html.DisplayFor(modelItem => item.FullName)</b>
                    </div>
                    <div class="display-6 fs-6 text-black text-opacity-75">
                        <b>Born:</b>&ensp;@item.Birthdate.ToString("MMMM dd, yyyy")
                    </div>
                </td>
                <td>
                    @if (item.Movies.Any())
                    {
                        <ul>
                            @foreach (var movie in item.Movies)
                            {
                                <li>@movie.Movie.Title</li>
                            }
                        </ul>
                    }
                </td>
                <td class="col align-middle">
                    <div class="action-buttons">
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
